:root {
  /* colors  */
  --primary: #8f887a;
  --secondary: #f7f7f7;
  --tertiary: #706b61;
  --accent-1: #292814;
  --accent-2: #afaca3;
  --highlight-1: #9e6849;
  --highlight-2: #e0ac5b;
  --highlight-3: #659739;

  /* fonts  */
  --heading: "Poppins", sans-serif;
  --paragraph: "Open Sans", sans-serif;
  --default: "Roboto", sans-serif;
}

